<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link th:href="@{css/style.css}" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" th:href="@{css/icon-font.min.css}" type='text/css'/>
    <!-- //lined-icons -->
    <script th:src="@{js/jquery-1.10.2.min.js}"></script>
    <!--clock init-->
</head>
<body>
<!--/404-->
<div class="error_page error">
    <!--/error-top-->
    <div class="error-top error">
        <h3>4<i class="fa fa-smile-o"></i>4</h3>
        <span>Whoops! Page not found</span>
        <p>The page your are looking for has escaped from our servers.</p>
        <div class="error-btn">
            <a class="read fourth" th:href="@{/}">Return to Home</a>
        </div>
    </div>
</div>
<!--footer section start-->
<div class="footer error"></div>
<!--footer section end-->
<!--/404-->
<!--js -->
<script th:src="@{js/jquery.nicescroll.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>